[Unit]
Description=Bindplane Loader
After=network.target

[Service]
Type=simple
User=bploader
Group=bploader
ExecStart=/usr/bin/bindplane-loader
Restart=on-failure
RestartSec=5s
AmbientCapabilities=
CapabilityBoundingSet=
NoNewPrivileges=yes
ProtectSystem=full
ProtectHome=true
PrivateTmp=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
LockPersonality=yes
MemoryDenyWriteExecute=true
RestrictRealtime=true
RestrictNamespaces=true

[Install]
WantedBy=multi-user.target

