[Unit]
Description=Blitz
After=network.target

[Service]
Type=simple
User=blitz
Group=blitz
ExecStart=/usr/bin/blitz --config /etc/blitz/config.yaml
Restart=on-failure
RestartSec=5s
AmbientCapabilities=
CapabilityBoundingSet=
NoNewPrivileges=yes
ProtectSystem=full
ProtectHome=true
PrivateTmp=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
LockPersonality=yes
MemoryDenyWriteExecute=true
RestrictRealtime=true
RestrictNamespaces=true

[Install]
WantedBy=multi-user.target

